:root {
    --main-font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: inherit; */
}

li {
    margin-left: 2rem;
}

input {
    font-size: var(--main-font-size);
}

.container {
    border: 2px solid black;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    font-size: var(--main-font-size);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}
