:root {
    --main-font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: inherit; */
}

li {
    margin-left: 2rem;
}

input, textarea, button {
    font-size: var(--main-font-size);
}

textarea {
    width: 20rem;
    height: 4rem;
}

.container {
    border: 2px solid black;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    font-size: var(--main-font-size);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}

hr {
    border: 1px solid black;
}

.column-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
