{% extends 'base/main.html' %}

{% block message_placeholder %}
    {% include 'base/error-message.html' %}
{% endblock %}

{% block content %}

    {% url 'login' as login_url %}
    {% if request.path == login_url %}

        <div>
            <h1>Login page</h1>
            <br />

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login" />
            </form>

            <br />

            <h4>Have no account yet?</h4>
            <a href="{% url 'register' %}">Register</a>
        </div>

    {% else %}

        <div>
            <h1>Registration</h1>
            <br />

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" />
            </form>

            <br />

            <h5>Already have an account?</h5>
            <a href="{% url 'login' %}">Login</a>
        </div>

    {% endif %}

{% endblock %}
