{% extends 'base/main.html' %} {% block content %}

<h2>Source List</h2>
<form action="{{ request.path }}" method="get">
    <input type="text" name="name" placeholder="Search sources" value="{{ request.GET.name }}" />
    {% if request.GET.name %}
    <a href="{{ request.path }}"><input type="button" value="Reset" /></a>
    {% endif %}
</form>

<br />

<div class="two-column-flex">
    <div>
        <h3>Global sources: {{ sources|length }}</h3>
        {% for source in sources %}
        <div>
            <p>
                {{source.id}}:
                <a href="{% url 'source' source.id %}">{{source.name}}</a>
            </p>
        </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <hr />

    <div>
        <h3>Your sources: {{ user_sources|length }}</h3>
        {% for source in user_sources %}
        <div>
            <p>
                <!-- <a href="{% url 'update-source' source.id %}"><input type="button" value="Edit" /></a> -->
                <!-- <a href="{% url 'delete-source' source.id %}"><input type="button" value="Delete" /></a> -->
                <a href="{% url 'update-source' source.id %}"><b>Edit</b></a>
                <a href="{% url 'delete-source' source.id %}"><b>Delete</b></a>
                {{source.id}}:
                <a href="{% url 'source' source.id %}">{{source.name}}</a>
            </p>
        </div>
        {% endfor %}
        <!-- <a href="{% url 'create-source' %}"><input type="button" value="New" /></a> -->
        <a href="{% url 'create-source' %}"><b>New</b></a>
    </div>
    {% endif %}
</div>

{% endblock %}
